@import url(holberton_school-icon/style.css);
@import url(holberton_school-icon/style.scss);

/* #region ROOT */

:root {
    --color-white: #ffffff;
    --color-dark: #071629;
    --color-purple: #c271ff;
    --color-light-purple: #d6a7f9;
    --color-grey: #979797;
    --font-family: 'Source Sans Pro', sans-serif;
}

/* #endregion */


/* #region GLOBAL */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

.off-screen {
    left: -100vw;
    position: absolute;
}

/* #endregion */


/* #region TEXT */

.text-primary {
    color: var(--color-purple) !important;
}

.text-secondary {
    color: var(--color-dark) !important;
}

.getschooledbitch {
    font-size: 7.5rem;
}

/* #endregion */


/* #region BACKGROUND */

.homepage {
    background-image: url('images/pic_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pricing {
    background-image: url('images/pic_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* #endregion */


/* #region BUTTON */

.btn, .btn:hover, .btn:focus {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
}

.btn:hover, .btn-focus {
    opacity: 0.9;
}

.btn-shadow {
    box-shadow: 0 0 10px 5px rgba(56, 56, 56, 0.813);
}

/* #endregion */


/* #region NAV LINX */

li a:hover, li a:focus {
    color: var(--color-purple) !important;
    text-decoration: none;
}

.navbar-toggler {
    font-size: 2.25rem;
    top: 3rem;
}

/* #endregion */


/* #region CAROUSEL */

.bg-purple {
    background-color: var(--color-purple) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

bg-light-purple {
    background-color: var(--color-light-purple) !important;
}

.search {
    color: var(--color-white);
    font-size: 1.75rem;
    opacity: .8;
}

::placeholder {
    color: lightgray;
    font-size: 1.75rem;
    opacity: .6;
}

.play {
    height: 125px;
    width: 125px;
}

.card-img-overlay {
    height: 5rem;
    width: 5rem;
}

/* #endregion */


/* #region FOOTER */

.fb-icon:before {
    font-family: 'holberton_school-icon';
    content: "\e908";
    color: var(--color-white);
}

.twitter-icon:before {
	font-family: 'holberton_school-icon';
	content: "\e90f";
	color: var(--color-white);
}

.ig-icon:before {
	font-family: 'holberton_school-icon';
	content: "\e90a";
	color: var(--color-white);
}

.small-icon {
    font-size: 2rem;
}

.holberton_school-icon-check {
    padding-top: 1.28rem;
    font-size: 1.752rem;
}

/* #endregion */
